{% extends 'base.html.twig' %}

{% block body %}
    {#
    <a href="javascript://" onclick="ds.getProblem()">get problem</a> |
    <a href="javascript://" onclick="ds.solveProblem()">solve problem</a>
    #}
    <div id="numbers" class="v">
        <div id="targetNumber">{{"{{ sharedState.target }}"}}</div>
        <div id="spinner" v-if="sharedState.working"><i class="fas fa-spinner fa-spin"></i></div>
        <ul id="numbers-ul">
            <li v-for="number in sharedState.numbers">
                {{"{{ number }}"}}
            </li>
        </ul>
        <div id="proof">
            <div id="resultProof">{{"{{ sharedState.proof }}"}}</div>
            <div id="resultNumber" v-if="sharedState.result"> = {{"{{ sharedState.result }}"}}</div>
        </div>
    </div>
{% endblock %}